<% unless  logged_in? %>
<div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-3">Welcome to Free.ly</h1>
          <p class="lead">Sustainable music for the world. No ads, Great perks, Always free</p>
        </div>
</div>
<% end %>
<% @songs.each do |s| %>
    <div class="player" data-songfile="<%= s.songfile %>" data-id="<%= s.id %>" id="song-<%= s.id %>">
        <%= image_tag  s.user.avatar.url(:thumb), size: "100x100" %>
        <h2><%= link_to @users.find(s.user_id).username, user_path(s.user_id) %> - <%= link_to s.title, song_path(s.id) %></h2>
        <h3>#<%= link_to s.genre, root_path(genre_param: s.genre) %></h3>
        <h3><%= time_ago_in_words s.created_at %></h3>
        <button type="button" class="btn" id="play-<%= s.id %>"><i class="fa fa-play" aria-hidden="true"></i>Play</button>           
    </div>
    <% if s.user == current_user %>
        <%= link_to "Edit Song", edit_song_path(s) %>
    <% end %>
    <%= form_for @comment, :html => {:class => 'form_group'} do |c|%>
        <%= c.text_field :comment, :placeholder => "comment here", class: 'form-control' %>
        <%= c.hidden_field :song_id, value: s.id %>
    <% end %>
    <% if s.comments.count >= 1 %>
        <ul class="list group">
        <li class="list-group-item"><%= s.comments.first.user.username %> - <%= s.comments.first.comment %></li>
        </ul>
    <% end %>
<% end %>


<script>
    var players = document.querySelectorAll('.player')
    players.forEach(function(player) {

        var songId = player.dataset.id
        
        player.wavesurfer = WaveSurfer.create({
            container: '#song-' + songId,
            progressColor: 'orange',
            normalize: true
        });
        
        
        player.wavesurfer.load(player.dataset.songfile)
        
        player.wavesurfer.on('ready', function () {
            document.getElementById('play-' + player.dataset.id).onclick = function(){
                if(player.wavesurfer.isPlaying()){
                    player.wavesurfer.pause()
                }
                else{
                    player.wavesurfer.play()
                }
            }
        });
    })
</script>