<div class="container-fluid">
    <div class="row">
        <div class="col-2">
        <%= image_tag  @song.user.avatar.url(:thumb), size: "100x100", class: "avatar" %>
        </div>
        <div class="col-6">
        <h1><%= link_to @song.user.username, user_path(@song.user) %> - <%= link_to @song.title, song_path(@song.id) %></h1>
        <h4>Posted <%= time_ago_in_words @song.created_at %> ago</h4>
        </div>
        <div class="col">
        <h3><%=link_to "##{@song.genre}", root_path(genre_param: @song.genre) %></h3>
        </div>
    </div>
    <!-- 
        adding this new code for error handling
    -->
    <div class="row audio-control">
        <div class="col">
            <button type="button" class="btn btn-circle" id="play-<%= @song.id %>"><i class="fa fa-play fa-4x p-icon" aria-hidden="true"></i></button> 
        </div>
        <div class="col-10">
            <% if @song.songfile == nil %>
                <% @song.songfile = @song.songpath.url %>
            <% end %>
            <div class="player" data-songfile="<%= @song.songfile %>" data-id="<%= @song.id %>" id="song-<%= @song.id %>"></div> 
        </div>
    </div>
                  
    
    
    
    <% if @song.user == current_user %>
    <%= link_to "Edit Song", edit_song_path(@song) %>
    <% end %>
</div>




<% if logged_in? %>
    <%= form_for @comment, :html => {:class => 'form_group'} do |c|%>
        <%= c.text_field :comment, :placeholder => "comment here", class: 'form-control' %>
        <%= c.hidden_field :song_id, value: @song.id %>
    <% end %>
<% end %>
<% if @song.comments.count >= 1 %>
    <ul class="list group">
    <% @song.comments.each do |sc| %>
        
            <li class="list-group-item"><%= sc.user.username %> - <%= sc.comment %></li>
            <% if current_user.id == sc.user.id %>
            <%= link_to "edit comment", edit_comment_path(sc) %>
            <%= link_to "delete comment", comment_path(sc), data: { confirm: "Are you sure you want to delete this comment?"}, method: 'DELETE' %>
            <% end %>
       
    <% end %>
    </ul>
<% end %>
<script>
        var players = document.querySelectorAll('.player')
        players.forEach(function(player) {
    
            var songId = player.dataset.id
            
            player.wavesurfer = WaveSurfer.create({
                container: '#song-' + songId,
                progressColor: 'orange',
                normalize: true
            });
            
            
            player.wavesurfer.load(player.dataset.songfile)
            
            player.wavesurfer.on('ready', function () {
                document.getElementById('play-' + player.dataset.id).onclick = function(){
                    if(player.wavesurfer.isPlaying()){
                        player.wavesurfer.pause()
                    }
                    else{
                        player.wavesurfer.play()
                    }
                }
            });
        })
    </script>
