<!-- this is a partial template because of the underscore in front of name -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- <a class="navbar-brand" href="#">Navbar</a>  -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> 
        <h2>Free.ly</h2>
        <h3><%= link_to_if(logged_in?, "Upload", new_song_path ) { link_to( "Upload", new_session_path ) } %></h3>
        <h3>Credit</h3>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
                <% if logged_in? %>
                <li  class: "nav-item">
                    <%= link_to "Music", songs_path, class: "nav-link" %>
                  </li>
                <li  class: "nav-item">
                <%= link_to current_user.username, user_path(current_user), class: "nav-link" %>
                </li>
                <li  class: "nav-item">
                <%= link_to "Logout", logout_path, method: 'delete', class: "nav-link" %>
                </li>
                <li  class: "nav-item">
                    <%= link_to "Settings", edit_user_path(current_user), class: "nav-link" %>
                </li>
                
                <% else %>
                <!-- show sign in or sign up -->
                <li  class: "nav-item">
                <%= link_to 'Log In', new_session_path, class: "nav-link" %>
                </li>
                <% end %>
          </ul>
        </div>
</nav>
