<!DOCTYPE html>
<html>
  <head>
    <title>Music App</title>
    <%= csrf_meta_tags %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.4.0/wavesurfer.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
      <%= render 'layouts/partials/navbar' %>
     <!-- #d danger, m message -->
     <% flash.each do |d, m| %>
      <div class="alert alert-<%= d%>">
        <%= m %>
      </div>
    <% end %>
    
    <div class= "container">
    <%= yield %>
    </div>
    <!-- added 'data-turbolinks-eval': 'false' below -->
    <%= javascript_include_tag 'application', 'data-turbolinks-eval': 'false', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
